.square {
    height: 200px;
    width: 200px;
    background-color: white;
    font-size: 90px;
}
button{
    height: 80px;
    width: 80px;
    background-color: white;
    font-size: 30px;
}